<div class="gallery art" data-images="<%= @art[:files] %>" data-alt-text="<%= @art[:alt_text] %>">
  <img class="art-image img-left" src="/images/art/<%= @img_left[:name] %>" alt="<%= @img_left[:alt] %>" />
  <img class="art-image img-right" src="/images/art/<%= @img_right[:name] %>" alt="<%= @img_right[:alt] %>" />
</div>
